menu {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:rgb(94, 82, 66);
   font-size: 1em;
}
   menu a{
   display: inline-block;
   padding: 10px 10px;
   background: whitesmoke;
   color: rgb(94, 82, 66);
   font-weight: bold;
   text-decoration: none;
   align-items: center;
   border-radius: 0px;
   margin: 10px 10px;
}
menu :hover {
font-size: 1.2em;
font-weight: bolder;
}

/* Hamburger Menu */
.hamburger {
   display: flex;
   width: 30px;
   height: 30px;
   margin-top: 30px;
   flex-direction: column;
   justify-content: space-between;
}
.hamburger .hamburger-lines {
   width: 30px;
   height: 5px;
   border-radius: 1px;
   background-color:rgb(94, 82, 66); 
   margin-left: 15px;
   transition: all 0.15s ease-in-out;
}
.hamburger:hover {
   cursor: pointer;
}
.mobile-menu-open .hamburger .hamburger-lines:nth-child(1){
   transform: translateY(13px) rotate(45deg);
}
.mobile-menu-open .hamburger .hamburger-lines:nth-child(2){
   display:none;
}
.mobile-menu-open .hamburger .hamburger-lines:nth-child(3){
   transform: translateY(-13px) rotate(-45deg);
}
@media screen and (min-width: 650px) {
   .hamburger {
   display: none;
}
}

nav {
   display: none;
}

.hamburger {
   position: relative;
   z-index: 2;
}

/* Navigation */
@media screen and (max-width: 650px) {
 
.mobile-menu-open nav {
   position: fixed;
   z-index: 1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color:rgba(209, 208, 208, 0.73);
   }
}
nav a {
   color: rgb(94, 82, 66);
   text-decoration: rgb(165, 134, 95);
   font-weight: bold;
   text-transform: uppercase;
   padding: 15px 10px;
}


/*SCHRIFTEN*/
body {
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 25px;
}
p {
   margin: 0px 45px 0px 45px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1em;
   text-align: center;
   color:  rgb(134, 109, 78);
}
 h1 {
   margin: 20px 50px 20px 50px;
   text-align: center;
   color:rgb(185, 162, 132);
   font-size: 1.75em;
 }
 span {
    font-size: 28px;
    font-weight: 100;
    text-align: 10px;
 }
 h2 {
   margin: 15px 50px 15px 50px;
   color: rgb(94, 82, 66);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   font-size: 1.45em;
   padding: 10px;
 }
 h3 {
   margin: 20px 50px 20px 50px;
   text-align: center;
   color: rgb(134, 109, 78);
   font-size: 1.2em;
 }
 h4 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 0.8em;
   text-align: left;
   font-weight: bold;
   color:  rgb(128, 105, 78); 
 }
 h5 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 0.8em;
   text-align: left;
   font-weight: normal;
   color:  rgb(128, 105, 78); 
 }
h6 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 0.7em;
   font-weight: normal;
   color: rgb(94, 82, 66);
   margin: 8px;
}
h7 {
   margin: 20px 50px 20px 50px;
   color: rgb(94, 82, 66);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   font-size: 1em;
   padding: 10px;
 }
 .textbox-1 {
   margin: 20px 10px 20px 10px;
   padding: 0px 25px 0px 25px; 
   border: 5px;
   text-align: center;
   color: rgb(165, 134, 95);
}

 header {
   background-blend-mode: luminosity;
   background-size: cover;
   height: 100px;
   padding: 30px; 
   border: 0px;
 }

 /*Flexbox*/
.flex-parent {
   background-color:rgba(221, 221, 221, 0.493);
   width: 90%;
   height: 80%;
   margin: 10px 80px 10px 80px;
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: space-around;
}
.flex-child1 {
   width: 25%;
   height: 100%;
   margin: 8px 0px 0px 10px;
   }
.flex-child1 img{
   width: 80%;
}
.flex-child2 {
   width: 80%;
   height: 100%;
   margin: 0px 50px 0px 0px;
   padding: 5px;
}

/*Trailer*/
.trailer-link {
   display: flex;
   flex-direction: column;
   padding: 0%;
   position: relative;
}
.trailer-link .button {
   position: absolute;
   top: 18%;
   right: 45%;
   transform: translate (-50%, -50%);
   -ms-transform: translate (-50%, -50%);
   background-color:rgba(209, 208, 208, 0.88);
   color: grey;
   opacity: 70%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 0.8em;
   padding: 16px 30px;
   border: none;
   cursor: pointer;
   border-radius: 2px;
   text-align: center;
}
.trailer-link .button:hover {
   background-color: rgb(94, 82, 66);
   color: white;
   opacity: 100%;
}
.trailer-link:hover {
   opacity: 70%;
}
   
img.hairlarge {
   width: 100%;
   margin-top: 20px;
}

img.headerimage {
   width: 100%;
}

img.visitcard {
   margin: auto;
   padding-top: 35px;
   display: block;
}

/*google map*/
.map {
   width: 70%;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 10px;
   display: block;
}

img.owner {
   width: 90%;
   margin: auto;
   margin-bottom: 20px;
   display: block;
}
img.owner-products {
   width: 90%;
   margin: auto;
   margin-bottom: 20px;
   display: block;  
}
.img.owner-products:hover {
   opacity: 100%;
      }

a.mail {
   text-decoration: underline;
   color: rgb(128, 105, 78);
}
a.mail2 {
   text-decoration: none;
   color: rgb(94, 82, 66);
}

footer {
   background-color: rgba(209, 208, 208, 0.68);
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 25px 8px 25px 8px;
   text-align: center;
}

/*desktop*/
@media (min-width: 1025px) {
     
   img.visitcard {
      width: 70%;
   }
}

/*tablet*/
@media (min-width: 667px) and (max-width: 1024px) {
   body {
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 23px;
   } 
     img.visitcard {
      width: 75%;
   }
}

/*mobile*/
@media (max-width: 666px) {
   body {
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 20px;
   } 
   menu {
   display: none;
   } 
  .hamburger {
      display: flex;
      }

   img.visitcard {
      width: 90%;
   }
   h1 {
      margin: 25px 80px 25px 80px;
      text-align: center;
      color:rgb(185, 162, 132);
      font-size: 1.5em;
    }
   .map {
      width: 95%;
   }
}